* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #353535;
}

/* header style */

header {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

header button {
	margin: 20px 20px;
	padding: 8px;
	background-color: #353535;
	color: #ededed;
	border: 2px solid #ededed;
}

nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: auto 15px;
}

nav a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: bold;
	color: #ededed;
	cursor: pointer;
	padding: 5px 6.7px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
	opacity: .85;
}

nav span {
	color: #ededed;
}

.icon-app {
	margin: auto 15px;
	cursor: pointer;
}

/* End style header */

main{
    flex: 1;
}

.logo{
    display: block;
	margin: 0px auto;
	margin-top: 107px;
    font-size: 100px;
}
.container{
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: 28px;
	text-align: center;
}

.search-bar{
    display: block;
	border: 1px solid #ededed;
	color: #ededed;
    background-color: #353535;
	font-size: 1rem;
	padding: 12px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: none;
	outline: none;
}
.icon-search{
	width: 20px;
	opacity: .4;
	position: absolute;
	top: 11px;
	left: 14px;
    cursor: pointer;
}

.icon-img{
    width: 25px;
	position: absolute;
	top: 9px;
	right: 15px;
    cursor: pointer;
}
.icon-voice{
    width: 25px;
	position: absolute;
	top: 9px;
	right: 45px;
    cursor: pointer;
}

.button{
    border: 1px solid transparent;
	padding: 9px 15px;
	color: #ededed;
    background-color: #4a4848;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 5px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}

.language{
    margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #ededed;
}

.language a{
    margin-left: 6px;
    color: rgb(55, 55, 255);
    text-decoration: none;
}

.language a:hover {
	text-decoration: underline;
}